.header {
    font-size: 2rem;
    color: var(--main-text);
    text-decoration: rgba(250, 250, 250, 0.3);
    text-decoration-line: underline;
    text-align: center;
    margin-bottom: 30px;
}
.summary {
    font-size: 0.8rem;
    color: var(--main-text);
}
.btn {
    float: right;
    z-index: 1;
    width: 200px;
    box-shadow: 0px 0px 1px 1px #d30913;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #d30913;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.2rem;
    padding: 25px 20px;
    margin: 20px 15px;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(250, 0, 0, 0.3);
    color: white;
}
