.movie-item {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  cursor: pointer;
}

.movie-item img {
  box-shadow: 0 0 15px 0 var(--main-gray) !important;
}

.segment {
  background: var(--main-deep-dark)!important;
}

.header {
  color: var(--main-gray)!important;
  text-transform: uppercase!important;
}

.movie-header {
  max-width: 150px;
  font-size: 1.2rem!important;
  text-decoration: rgba(250,250,250,0.3);
  text-decoration-line: underline;
}

.input {
  min-width: 300px;
  color: rgba(250,250,250,0.8)!important;
  box-shadow: 0 5px 5px -5px rgba(250,250,250,0.4);
}