.movies-header {
  color: var(--main-text);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.movie-title {
  max-width: 150px;
  font-size: 1.2rem;
  color: var(--main-gray);
  text-decoration: rgba(250,250,250,0.3);
  text-decoration-line: underline;
  text-align: center;
  margin: 10px auto 20px auto;
}

.search-box {
  display: flex;
  align-items: baseline;
  background-color: transparent;
  border:none;
  box-shadow: 0 5px 5px -5px rgba(250,250,250,0.5);
  color: var(--main-text);
}

.search-box-input {
  color: var(--main-text);
  background-color: transparent;
  border:none;
  margin-left: 10px;
}

.search-box-input:focus {
    outline: none;
}

.fa-search {
  color: rgba(250,250,250,0.3);
}