.movie-details-title {
    font-size: 2rem;
    color: var(--main-text);
    text-decoration: rgba(250,250,250,0.3);
    text-decoration-line: underline;
  }
  .vote {
      float: right;
  }
  /* .vote:nth-child(4) {
      font-size: 0.8rem;
  } */
  .text {
      font-size: 0.8rem;
      color: var(--main-text);
  }
  .description {
      height: 120px;
      font-size: 1rem;
  }
  .trailer {
      width: 420px;
      height: 315px;
      justify-content: flex-end;
  }
  .btn {
    float: right;
    z-index: 1;
    width: 200px;
    box-shadow: 0px 0px 1px 1px #d30913;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #d30913;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.2rem;
    padding: 25px 20px;
    margin: 20px 15px;
    text-decoration: none;
  }
    .btn:hover {
    background-color: rgba(250, 0, 0, 0.3);
    color: white;
  }
